*
!source/
!source/*.hpp
!source/*.h
!source/*.cc
!.gitignore
!.gitmodules
!libshijima
!build-release.sh
!build.sh
!CMakeLists.txt
!.github/
!.github/workflows/
!.github/workflows/build.yaml
!docker/
!docker/Dockerfile
!Shijima-Wii/
!Shijima-Wii/icon.png
!Shijima-Wii/meta.xml
!README.md
!LICENSE
!qutex
